<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd">


       <beans profile="dev">
              <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
                     <property name="driverClassName" value="org.postgresql.Driver"/>
                     <property name="url" value="jdbc:postgresql://192.168.1.158:5432/job_schedule"/>
                     <property name="username" value="ota"/>
                     <property name="password" value="ota"/>
                     <property name="maxActive" value="3"/>
                     <property name="initialSize" value="3"/>
                     <property name="validationQuery" value="select 1 val"/>
              </bean>
       </beans>
       <beans profile="production">
              <jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/datasource"/>
       </beans>

       <beans profile="test">
              <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
                     <property name="driverClassName" value="org.postgresql.Driver"/>
                     <property name="url" value="jdbc:postgresql://192.168.1.158:5432/job_schedule"/>
                     <property name="username" value="ota"/>
                     <property name="password" value="ota"/>
                     <property name="maxActive" value="3"/>
                     <property name="initialSize" value="3"/>
                     <property name="validationQuery" value="select 1 val"/>
              </bean>
       </beans>
</beans>